body {
    background-image: url(images/webpage_images/waves.jpg);
}
fieldset {
    border-color: #654321;
    border-width: 10px;
    background-image: url(images/webpage_images/wood.jpg);
    color: white;
    margin: auto;
    margin-top: 30px;
    max-width: 580px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
}
.form-fields {
    flex: 1;
}
.image-display {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px; /* Moves the image container slightly up */
    
}
img {
    margin-top: 0; /* Removes extra spacing above the image */
    max-width: 250px;
    height: 225px;
    object-fit: contain;
}
h2 {
    text-align: center;
    margin-top: 0;
}
hr {
    border-color: #63b2e4;
}
button {
    background-color: #63b2e4;
    border-color: #2d93d2;
    color: white;
    cursor: pointer;
}
.button button:hover {
    background-color: #2d93d2;
}
label {
    margin-left: 25px;
}
.center {
    text-align: center;
}
.spacing {
    margin-left: 25px;
}
.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.data-table th {
    background-color: #63b2e4;
    color: white;
}
.database-view {
    margin: auto;
    width: 512px;
    padding: 20px;
    background-color: #3e2914;
    border-radius: 5px;
    text-align: center;
}